html {
    font-size: 14px;
    font-family: sans-serif;
    display: block;
    
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #4d4b4b;
    line-height: 1.6;

background: #04befe;
background: -webkit-linear-gradient(to left, #fffcdc, #4481eb); 
background: linear-gradient(to top, #fffcdc 0%, #4481eb 100%);
}
/* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
/* background: #1DA7EC;  
background: -webkit-linear-gradient(to left, #fffcdc, #1DA7EC);  
background: linear-gradient(to top, #fffcdc, #1DA7EC);  */
